<div>
    <button id="btnAtras">Volver Atras</button>
</div>
<div id="div">
    <h1>{{job.title}}</h1>

    <h2>{{job.enterprise}}</h2>
    <p>{{job.description}}</p>
    <p>{{job.phone}}</p>
    <p>{{job.email}}</p>
</div>