<div>
    <button id="btnAtras"><a href="/all" class="nav-link">Volver Atras</a></button>
</div>
<div id="div" class="cardEmpleo">
    <h1>{{job.title}}</h1>

    <h2>{{job.enterprise}}</h2>
    <hr class="hr">
    <p>{{job.description}}</p>
    <p>Telefono de Contacto: {{job.phone}}</p>
    <p>Enviar CV a:  {{job.email}}</p>
</div>