<header>
         <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
               <a class="navbar-brand" href="/"><img src="../../media/logo.png" alt="logo" /></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="active nav_link" aria-current="page" href="/">Inicio</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav_link" href="/all">Empleos</a>
                     </li>
                     <li class="nav-item">
                        <a class=" nav_link" href="#">Contacto</a>
                     </li>
                  </ul>
                  <div class="ul_login">
                     <span class="login_span">¿Sos empresa? Registrate y publica</span>
                     <div>
                        <a class="btn_login" href="/auth/signin">Login</a>
                        <a class="btn_login" href="/auth/signup">Registrarse</a>
                     </div>
                     
                  </div>
               </div>
            </div>
         </nav>
</header>
<main class="container mt-3">
   <h1 class="text-center m-4">Listado de Empleos</h1>

{{#each jobs}}
   <div class="card text-center mt-5">
      <div class="card-header">{{this.enterprise}}</div>
      <div class="card-body">
         <h5 class="card-title">{{this.title}}</h5>
         <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="18" height="18"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg> Argentina</p>
         <p class="card-text">{{this.description}}</p>
      </div>
      <a class="btn btn-success mt-5" href="/all/{{this._id}}">Detalles</a>
      <div id="hora" class="card-footer text-muted">
         {{this.createdAt}}
      </div>
   </div>
{{/each}}
</main>
