<h1>Editar Empleo</h1>

<form action="/jobs/{{job._id}}?_method=PUT" method="POST">
   <div class="mb-3">
      <label for="title" class="form-label">Titulo</label>
      <input
         type="text"
         class="form-control"
         id="title"
         name="title"
         placeholder="Ingrese titulo del empleo"
         value="{{job.title}}"
      />
   </div>

   <div class="mb-3">
      <label for="enterprise" class="form-label">Nombre de la empresa</label>
      <input
         type="text"
         class="form-control"
         id="enterprise"
         name="enterprise"
         placeholder="Ingrese nombre de la empresa"
         value="{{job.enterprise}}"
      />
   </div>

   <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <textarea
         class="form-control"
         id="description"
         name="description"
         rows="3"
      >{{job.description}}</textarea>
   </div>

   <div class="mb-3">
      <label for="phone" class="form-label">Telefono de contacto</label>
      <input
         type="tel"
         class="form-control"
         id="phone"
         name="phone"
         placeholder="Ingrese numero de contacto"
         value="{{job.phone}}"
      />
   </div>

   <div class="mb-3">
      <label for="email" class="form-label">E-mail de contacto</label>
      <input
         type="email"
         class="form-control"
         id="email"
         name="email"
         placeholder="Ingrese e-mail de contacto"
         value="{{job.email}}"
      />
   </div>

   <button class="btn btn-secondary">Editar</button>
</form>